<header class="m-0 p-0">
  <nav class=" m-0 p-0 text-light d-flex justify-content-between text-align-center">
    <div class="m-0">
      <p class="misty py-6 px-4" >
        <span role="button" class="selectable rounded fs-5 p-1" title="click to copy the image source link">Author of the Image</span> 
        <br><span roll="button" class="selectable rounded p-2 small" title="click to change background">>> New Background Image</span>
      </p>
    </div>
    <div class="misty selectable">
      <p class="align-bottom fs-5 pt-2">>> 3 Todos remaining</p>
    </div>
  </nav>
</header>

<main class="p-2 bg-light">
  <div class="container misty align-items-end">
    <div class="row p-2 bg-dark">
      <div class="col-10 col-md-8 p-2 bg-light d-flex flex-grow-1 align-items-end"> 
        <div class="misty">
          <p>A lovely Quote</p>
          <p>- Author</p>
        </div>
      </div>
    </div>
  </div>

</main>