
<div class="container d-flex flex-column justify-content-between">
  <div class="row mt-3 justify-content-between align-items-center">
    <div class="col-6 col-md-3">
      <p class="text-center text-align-center  misty selectable fs-5" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">>> My Todos: <span id="myTodos">0/0</span></p>
    </div>
    <div class="col-6 col-md-3">
      <p class="text-center misty hidden-card">
        <span id="Image Author" role="button" class="selectable rounded fs-5" title="click to copy the image source link">Author of the Image</span> 
        <br><span onclick="app.ImageController.getBackgroundImage()" roll="button" class="selectable rounded small hidden" title="click to change background">>> New Background Image</span>
      </p>
    </div>
  </div>
  <div class="row mt-auto justify-content-center">
    <!-- TODO put this on a quote class model, make your call to the api to get information about the quote, interpolate values inside your class model -->
    <div class="col-8 misty hidden-card">
      <p class="text-center mb-0">"A lovely quote by someone important is a treasure to the soul"</p>
    <p class="text-end me-5 mb-0 hidden">~ <i>Author's Name</i></p>
    </div>
  </div>
</div>

<div class="misty m-3 offcanvas offcanvas-start user-select-none" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">My To Do's list</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form id="todoForm" onsubmit="app.TodosController.createNewTodo()" class="d-flex">
      <div class="form-floating">
        <input type="text" class="form-control" name="description" id="description" required minlength="3" maxlength="45" placeholder="Title" autocomplete="off">
        <label class="" for="description">Todo</label>
      </div>
      <button type="Submit" class="btn btn-dark shadow px-3 m-2">+</button>
    </form>
    <div id="offcanvasList" class="container mt-2">
      <p>a simple task</p>
      <p>a simple task</p>
      <p>a simple task</p>
      <p>a simple task</p>
    </div>
  </div>
</div>