<main class="my-5">
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <a href="" class="text-decoration-none misty selectable rounded p-3 text-light">Back</a>  
      </div>
      <div class="col-10 col-md-8 my-4">
        <div class="misty">
          <img src="" alt="profile picture">
          <h1>User Name</h1>
          <form>
            <!-- TODO change location -->
            <!-- TODO change quote author -->
            <!-- TODO change img category -->
            <!-- TODO 12/24hr -->
            <!-- TODO F/C/K -->
          </form>
        </div>
      </div>
    </div>
  </section>
  
</main>